<?xml version="1.0"?>
<robot>
    
    <!-- ##### Wheels ##### -->
    <gazebo reference="wheel_left_link">
        <mu1>10</mu1> 
        <mu2>10</mu2>
        <kp>500000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.05</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/FlatBlack</material>
    </gazebo>


    <gazebo reference="wheel_right_link">
        <mu1>10</mu1>
        <mu2>10</mu2>
        <kp>500000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.05</maxVel>
        <fdir1>1 0 0</fdir1>
        <material>Gazebo/FlatBlack</material>
    </gazebo>


    <!-- ##### Casters ##### -->
    <gazebo reference="caster_back_right_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.05</maxVel>
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="caster_back_left_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.05</maxVel>
        <material>Gazebo/FlatBlack</material>
    </gazebo>

    <gazebo reference="base_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="arm_base_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="first_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="second_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="third_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>


    <gazebo reference="gripper_base">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="left_finger">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="right_finger">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="base_scan">
        <material>Gazebo/Grey</material>
    </gazebo>




    <!-- ##### Arm joints ##### -->
    <!-- First joint - 360deg continuous joint -->
    <gazebo reference="first_link_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>

    <!-- Second joint - Revolute joint -->
    <gazebo reference="second_link_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>


    <!-- Third joint - Revolute joint -->
    <gazebo reference="third_link_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>

    <!-- Fourth joint - Revolute joint -->
    <gazebo reference="gripper_base_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>


    <!-- Left finger - Prismatic joint -->
    <gazebo reference="left_finger_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>

    <!-- Right finger - Prismatic joint -->
    <gazebo reference="right_finger_joint">
        <implicitSpringDamper>true</implicitSpringDamper>
    </gazebo>

    <!-- ################################  -->


         <!-- ##### Ros2 control plugin ##### -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <robot_sim_type>gazebo_ros2_control/GazeboSystem</robot_sim_type>
            <parameters>$(find tidybot)/config/controller_config.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- ##################################### -->




    <!-- ##### Joint command/state interface definitions ##### -->

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="wheel_left_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="wheel_right_joint">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>


        <joint name="first_link_joint">
            <command_interface name="position">
                <param name="min">-${2*pi}</param>
                <param name="max">${2*pi}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>


        <joint name="second_link_joint">
            <command_interface name="position">
                <param name="min">-${2*pi/3}</param>
                <param name="max">${2*pi/3}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>


        <joint name="third_link_joint">
            <command_interface name="position">
                <param name="min">-${pi/2}</param>
                <param name="max">${pi/2}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="gripper_base_joint">
            <command_interface name="position">
                <param name="min">-${pi/2}</param>
                <param name="max">${pi/2}</param>
            </command_interface>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>


        <joint name="left_finger_joint">
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="right_finger_joint">
            <param name="mimic">left_finger_joint</param>
            <param name="multiplier">-1</param>
            <command_interface name="position"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

    </ros2_control>

    <!-- ##################################### -->



    <!-- ##### Differential drive controller plugin ##### -->

    <gazebo>
        <plugin name="mobile_base_controller" filename="libgazebo_ros_diff_drive.so">
            <ros>
                <!-- <namespace>/demo</namespace>

                <remapping>cmd_vel:=cmd_demo</remapping>
                <remapping>odom:=odom_demo</remapping> -->
            </ros>

            <update_rate>100</update_rate>

            <!--1 for differential drive; 2 for skid steer drive-->
            <num_wheel_pairs>1</num_wheel_pairs>

            <left_joint>wheel_left_joint</left_joint>
            <right_joint>wheel_right_joint</right_joint>

            <wheel_separation>0.287</wheel_separation>
            <wheel_diameter>0.066</wheel_diameter>

            <max_wheel_torque>10</max_wheel_torque>
            <max_wheel_acceleration>1</max_wheel_acceleration>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>false</publish_wheel_tf>

            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
        </plugin>
    </gazebo>

    <!-- ##################################### -->




</robot>
